app = 'myaichatbot-ibnsina-ai1'
primary_region = 'bom'

[env]
  PORT = '8080'
[build]
  dockerfile = "Dockerfile"  # This line is important
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
